@import "../src/style/material-dashboard.css"; 
@import "../src/style/Spinner.css"; 

.active {
  border-bottom: 1px solid; 
}


.threedots:after {
  content: "\2807";
  font-size: 30px;
}
a:has(.threedots) {
  text-decoration: none;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
}

.border-circle {
  border-radius: 50%;
  border: 1px solid #ccc;
}

.circle-small {
  width: 20px !important;
  height: 20px !important;
}

.circle-large {
  width: 80px !important;
  height: 80px !important;
}


/* When stuck (floating) */
.fixed {
  position: fixed;
  bottom: 28px;
  right: 28px;
  z-index: 10;
}
